{% load staticfiles %}

    <table border='1px'>
      <tr>
        <td>
          <img src="/static/{{pp}}" width = '110px' height='100px'/>
        </td>
        <td>
          <img src='/static/{{cp}}' width = '300px' height = '100px'>
        </td>
      </tr>

      <tr>
        <td>
          Name:
        </td>
        <td>
         {{ user.profile.name }} 
        </td>
      </tr>

      <tr>
        <td>
          Enrollment No.: 
        </td>
        <td>
          {{ user.profile.enrollment_no }}
        </td>
      </tr>

      <tr>
        <td>
          Branch: 
        </td>
        <td>
          {{ user.profile.branch }} 
        </td>
      </tr>


       <tr>
        <td>
          Age: 
        </td>
        <td>
          {{ user.profile.age }}
        </td>
      </tr>
 
      <tr>
        <td>
          Gender:
        </td>
        <td>
          {{ user.profile.gender }}
        </td>
      </tr>

      <tr>
        <td>
          Email:
        </td>
        <td>
          {{user.email}}
        </td>
      </td>

     <tr>
        <td>
          About:
        </td>
        <td>
          {{ user.profile.about_me }}
        </td>
      </tr>

      <tr>
        <td colspan='2' style='text-align:center'>
          <a href="/ag53/accounts/password_change">change password</a> 
        </td>
      </tr>


       <tr>
        <td colspan='2' style='text-align:center'>
          <a href='{% url 'ag53.views.logout_view' %}'><button>LOG OUT</button></a>  
        </td>
      </tr>

  </table>
