{% load staticfiles %}
<html>
  <div style="padding-top:80px;text-align:center;">
    <h1>AG53</h1>
    <h2>Profile</h2>
    <h3 style="color:red">{% block cpsuccess %}{% endblock %}</h3>
    <table style="margin:auto;text-align:center;" border='1px'>
      <tr>
        <td>
          <img src="/media/{{pp}}" width = '110px' height='100px'/>
        </td>
        <td>
          <img src='/media/{{cp}}' width = '300px' height = '100px'>
        </td>
      </tr>

      <tr>
        <td>
          Name:
        </td>
        <td>
         {{ user.profile.name }} 
        </td>
      </tr>

      <tr>
        <td>
          Enrollment No.: 
        </td>
        <td>
          {{ user.profile.enrollment_no }}
        </td>
      </tr>

      <tr>
        <td>
          Branch: 
        </td>
        <td>
          {{ user.profile.branch }} 
        </td>
      </tr>


       <tr>
        <td>
          Age: 
        </td>
        <td>
          {{ user.profile.age }}
        </td>
      </tr>
 
      <tr>
        <td>
          Gender:
        </td>
        <td>
          {{ user.profile.gender }}
        </td>
      </tr>

      <tr>
        <td>
          Email:
        </td>
        <td>
          {{user.email}}
        </td>
      </td>

     <tr>
        <td>
          About:
        </td>
        <td>
          {{ user.profile.about_me }}
        </td>
      </tr>

      <tr>
        <td colspan="2" style="text-align:center">
          <a href="/ag53/edit_profile">Edit profile</a>
        </td>
      </tr>

      <tr>
        <td colspan='2' style='text-align:center'>
          <a href="/ag53/password_change">change password</a> 
        </td>
      </tr>


       <tr>
        <td colspan='2' style='text-align:center'>
          <a href='{% url 'ag53.views.logout_view' %}'><button>LOG OUT</button></a>  
        </td>
      </tr>

    </table>
  </div>
</html>
